.asciidoctor/
global-services-testing/*.docx
global-services-testing/*.html
global-services-testing/*.pdf
global-services-testing/images/**.bkp

__pycache__
*.pyc

__idea__
.idea/

__secrets.env__
/tests/secrets.env
